body {
    background-color: white;
}



.box-all {
    margin-top: 100px;
    margin-left: 300px;
    height: 700px;
    width: 1200px;
}

.box-head {
    margin-top: 100px;
    display: flex;
    margin-bottom: 30px;
}

.box-body {
    margin-top: 50px;
    align-items: center;
}

.cont-row {
    margin-top: 50px;
    display: flex;
}

.cont-load {
    margin-left: 500px;
    height: 40px;
    line-height: 40px;
    width: 200px;
    background: rgb(47, 138, 145);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    font-size: 400;
    color: white;
}

.cont-load:hover {
    background-color: rgb(18, 106, 112);
}

.cont-create {
    margin-left: 50px;
    height: 40px;
    line-height: 40px;
    width: 200px;
    background: rgb(47, 138, 145);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    font-size: 400;
    color: white;
}

.cont-create:hover {
    background-color: rgb(18, 106, 112);
}

.cont-path {
    width: 100px;
    font-size: medium;
    color: black;
    text-align: start;
    padding-left: 10px;
}

.cont-path-folder {
    margin-left: 50px;
    text-align: start;
    color: black;
}

.cont-item-name {
    margin-left: 80px;
    width: 400px;
    height: 100px;
    text-align: start;
    color: black;
    line-height: 100px;
    vertical-align: middle;
}

.cont-item-options {
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    background-color: rgb(112, 110, 110);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
    width: 200px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    font-size: medium;
    cursor: pointer;
    text-align: center;
}

.cont-item-options:hover {
    opacity: 0.6;
}

.cont-folder-img {
    background-image: url("../img/folder.JPG");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.cont-file-img {
    background-image: url("../img/file.JPG");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
}