<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

    <div class="box-all">

        <div class="box-head">

            <div class="cont-path">
                Текущая папка:
            </div>

            <div class="cont-path-folder" th:each="folder : ${folders}">
                <form action="/openFolder" method="post">
                    <input type="hidden" th:name="currentPath" th:value="${folder.id}">
                    <input type="hidden" th:name="name" th:value="${folder.name}">
                    <a href="#" onclick="this.parentNode.submit();" th:text="${folder.name}"></a>
                </form>
            </div>

        </div>

        <div class="box-body">

            <div class="cont-row">

                <div>
                    <form action="/uploadRequest" method="post">
                        <input type="hidden" th:name="openedFolder" th:value="${openedFolder}">
                        <button type="submit" class="cont-load">Загрузить файл</button>
                    </form>
                </div>

                <div>
                    <form action="/createRequest" method="post">
                        <input type="hidden" th:name="openedFolder" th:value="${openedFolder}">
                        <button type="submit" class="cont-create">Создать папку</button>
                    </form>
                </div>

            </div>

            <div class="cont-row" th:if="${isEmpty}">
                Папка пуста
            </div>

            <div class="cont-row" th:each="directory : ${directories}">

                <div class="cont-folder-img"></div>

                <div class="cont-item-name" th:text="${directory.name}"></div>

                <div>
                    <form action="/openFolder" method="post">
                        <input type="hidden" th:name="currentPath" th:value="${currentPath}">
                        <input type="hidden" th:name="name" th:value="${directory.name}">
                        <button type="submit" class="cont-item-options">перейти в папку</button>
                    </form>
                </div>

                <div>
                    <form action="/renameRequest" method="post">
                        <input type="hidden" th:name="fullName" th:value="${directory.id}">
                        <input type="hidden" th:name="shortName" th:value="${directory.name}">
                        <input type="hidden" th:name="isDir" th:value="false">
                        <button type="submit" class="cont-item-options">переименовать</button>
                    </form>
                </div>

                <div>
                    <form action="/deleteRequest" method="post">
                        <input type="hidden" th:name="fullName" th:value="${directory.id}">
                        <input type="hidden" th:name="shortName" th:value="${directory.name}">
                        <input type="hidden" th:name="isDir" value="true">
                        <button type="submit" class="cont-item-options">удалить</button>
                    </form>
                </div>

            </div>

            <div class="cont-row" th:each="file : ${files}">

                <div class="cont-file-img"></div>

                <div class="cont-item-name" th:text="${file.name}">file</div>

                <div>
                    <a th:href="@{/file/{id}(id=${file.id})}">
                        <button class="cont-item-options">скачать файл</button>
                    </a>
                </div>

                <div>
                    <form action="/renameRequest" method="post">
                        <input type="hidden" th:name="fullName" th:value="${file.id}">
                        <input type="hidden" th:name="shortName" th:value="${file.name}">
                        <input type="hidden" th:name="isDir" th:value="false">
                        <button type="submit" class="cont-item-options">переименовать</button>
                    </form>
                </div>

                <div>
                    <form action="/deleteRequest" method="post">
                        <input type="hidden" th:name="fullName" th:value="${file.id}">
                        <input type="hidden" th:name="shortName" th:value="${file.name}">
                        <input type="hidden" th:name="isDir" th:value="false">
                        <button type="submit" class="cont-item-options">удалить</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

</body>

</html>